@page
@model ERP_System.Pages.SuperAdmin.DashboardModel
@{
   
}

<div class="flex-grow-1 p-3">
    <div class="container">
        <h1 class="mb-4">Welcome, Admin!</h1>


        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Users</h5>
                        <p class="card-text fs-3">@Model.count</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Revenue</h5>
                        <p class="card-text fs-3">$25,400</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Pending Requests</h5>
                        <p class="card-text fs-3">17</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-4">
            <div class="card-header bg-dark text-white">
                Users List
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>College Name</td>
                            <td>College Email</td>
                            <td>Purchase Date</td>
                            <td>Subscription</td>
                            <td>Handle</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var Client in Model.client)
                            {
                                <tr>
                                    <td>@Client.college_name</td>
                                    <td>@Client.college_email</td>
                                    <td>@Client.purchased</td>
                                    <td>@Client.subscription</td>
                                    <td>
                                        @if (@Client.Active)
                                        {
                                            <form method="post" asp-page-handler="Block"
                                                  asp-route-id="@Client.admin_id" asp-route-status=false>
                                                <button class="btn btn-danger" type="submit">Block</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" asp-page-handler="Unblock"
                                                  asp-route-id="@Client.admin_id" asp-route-status=true>
                                                <button class="btn btn-success" type="submit">UnBlock</button>
                                            </form>

                                        }
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>