@page
@model ERP_System.Pages.Student.StudentDashboardModel
@{
    ViewData["sname"] = Model.sname;
}


@{
    foreach (var st in Model.user)
    {
        <div class="card mb-3" style="max-width: 900px; margin: 10rem auto; border-radius: 10px; overflow: hidden; margin-left:12rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/Images/img/card.jpg" class="img-fluid" style="height: 100%; object-fit: cover;" alt="User image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>USN:</b> @st.reg_number</li>
                            <li class="list-group-item"><b>NAME:</b> @st.name</li>
                            <li class="list-group-item"><b>BRANCH:</b> @st.branch</li>
                            <li class="list-group-item"><b>SEMESTER:</b> @st.sem</li>
                            <li class="list-group-item"><b>CONTACT:</b> @st.contact</li>
                        </ul>
                        <div class="mt-3">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}








